body {
    background: #eff230; /* Old browsers */
    background: -moz-linear-gradient(left, #eff230 0%, #52dd23 26%, #29d8a9 52%, #2ebce8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #eff230 0%,#52dd23 26%,#29d8a9 52%,#2ebce8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #eff230 0%,#52dd23 26%,#29d8a9 52%,#2ebce8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff230', endColorstr='#2ebce8',GradientType=1 ); /* IE6-9 */
}

.jumbotron {
    color:black;
    margin-left:6%;
    margin-right:6%;
    padding:3%;
    background: rgb(255, 255, 255); /*Fallback (IE8 and below)*/
    background: rgba(255, 255, 255, .44) !important;
    -webkit-border-radius: 5px; /* Old safari compatibility*/
    -khtml-border-radius: 5px; /* Very old browser compatibility*/
    -moz-border-radius: 5px; /* Mozilla Firefox compatibility*/
    border-radius: 5px;
}

.navbar {
    z-index:1;
    position:fixed;
    margin-top:0;
    top:0;
    width:100%;
    background: rgb(255,255,255); /*Fallback (IE8 and below)*/
    background: rgba(240, 240, 240, 0.88) !important;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
