body {
    background-image:url(bg3.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-bar {
    display: flex;
}

.list-group-item {
    margin-top:0%;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, .80);
    color:black;
    font-size:110%;
    font-weight:bold;
    backdrop-filter: blur(5px); /*EXPERIMENTAL*/
}

.list-group {
    width:25%;
    margin-top:0%;
    margin-left:6%;
    margin-bottom:30px;
    -webkit-border-radius: 6px; /* Old safari compatibility*/
    -khtml-border-radius: 6px; /* Very old browser compatibility*/
    -moz-border-radius: 6px; /* Mozilla Firefox compatibility*/
    border-radius: 6px;
    backdrop-filter: blur(5px); /*EXPERIMENTAL*/
}

#normal-jumbo {
    color:black;
    margin-left:6%;
    margin-right:6%;
    padding:3%;
    background: rgb(255, 255, 255); /*Fallback (IE8 and below)*/
    background: rgba(255, 255, 255, .72) !important;
    -webkit-border-radius: 5px; /* Old safari compatibility*/
    -khtml-border-radius: 5px; /* Very old browser compatibility*/
    -moz-border-radius: 5px; /* Mozilla Firefox compatibility*/
    border-radius: 5px;
    backdrop-filter: blur(5px); /*EXPERIMENTAL*/
}

#title-jumbo {
    flex: 1;
    color:black;
    margin-right:6%;
    margin-left:2%;
    padding:3%;
    background: rgb(255, 255, 255); /*Fallback (IE8 and below)*/
    background: rgba(255, 255, 255, .72) !important;
    -webkit-border-radius: 5px; /* Old safari compatibility*/
    -khtml-border-radius: 5px; /* Very old browser compatibility*/
    -moz-border-radius: 5px; /* Mozilla Firefox compatibility*/
    border-radius: 5px;
    backdrop-filter: blur(5px); /*EXPERIMENTAL*/
}

.navbar {
    z-index:1;
    position:fixed;
    margin-top:0;
    top:0;
    width:100%;
    background: rgb(255,255,255); /*Fallback (IE8 and below)*/
    background: rgba(240, 240, 240, 0.85) !important;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    backdrop-filter: blur(5px); /*EXPERIMENTAL*/
}